<form method="post" action="{{ path('estate_characteristics_delete', {'id': estate_characteristic.id}) }}" onsubmit="return confirm('{{ 'admin.delete.sure' | trans }}');" style="display: inline;">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ estate_characteristic.id) }}">
    <button class="btn btn-danger btn-sm">{{ 'admin.delete' |trans }}</button>
</form>
