<div id="porfolioAjaxBox" class="ajax-box ajax-box-init">

    <div class="bounce-loader loader">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>

    <div class="ajax-box-content" id="porfolioAjaxBoxContent"></div>

</div>
